node_modules
**/.next/**
**/_next/**
**/dist/**
**/__tmp__/**
lerna.json
# .github
.vscode
next-seo.config.js
next-seo.config.ts
.next/
node_modules/
coverage/
__snapshots__/
package-lock.json
pnpm-lock.yaml